# PYTHON
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
*.egg

# VIRTUAL ENVIRONMENTS
venv/
env/
.venv/

# DJANGO STATIC & MEDIA
staticfiles/
media/

# LOCAL SETTINGS
*.sqlite3
*.db
.env
.env.*

# VS CODE
.vscode/

# LOGS
*.log

# BYTE-COMPILED / CACHE
*.cache/
*.pytest_cache/
*.mypy_cache/

# NODE / FRONTEND
node_modules/

# MAC / WINDOWS SYSTEM FILES
.DS_Store
Thumbs.db

# COMPILED ASSETS
*.min.js
*.min.css

# COVERAGE / TESTING
htmlcov/
.coverage
.coverage.*

# TEMPORARY FILES
tmp/
temp/
